---

---
<nav class="navbar">
    <ul class="flex space-x-6 text-lg font-medium">
        <li>
            <a href="/" class="hover: text-blue-600 transition">Inicio</a>
        </li>
        <li>
            <a href="/" class="hover: text-blue-600 transition">Galeria</a>
        </li>
        <li>
            <a href="/" class="hover: text-blue-600 transition">Concursos</a>
        </li>
    </ul>
</nav>
